/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Common Style */
header, main{
    max-width: 1140px;
    margin: 30px auto;
}

body{
  margin: 0px;
}

/* Navigation sections style  */

.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 48px;
}

.menu-item {
    list-style: none;
}

.menu-item a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    
}

.menu-item-style{
    list-style: none;
}

.menu-item-style a{
    text-decoration: none;
    color: rgb(137, 135, 161);
    font-size: 1rem;
    font-weight: 400;
}

/* banner section style */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    
}

.banner-info{
    margin-top: 45px;
}

.colorful-text{
    color: rgba(233, 90, 8, 1);
}
.banner-title{
    margin-bottom: 0px;
    font-size: 4rem;
    font-weight: 700;
}
.banner-title-2{
 margin-top: 0px;
 margin-bottom: 5px;
 font-size: 4rem;
 font-weight: 700;
}

.banner-description{
    font-size: 1.37rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 11px;
    
}

.banner-image img{
    display: block;
  
}

/* our plants style */
.our-plants-info{
    margin-top: 120px;
}

.our-plants-title{
    font-size: 3.12rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.our-plants-description{
    font-size: 1.37rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 0px;
}

/* our plants card */
.plants-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
     margin-top: 49px;
    
}

.plants-card{
    width: 270px;
    text-align: center;
    background-color: rgb(250, 249, 253);
   
}

.plants-card-title{
    font-size: 1.37rem;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 10px;

}

.plants-price{
    font-size: 1.37rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.plants-btn{
    width: 100%;
    height: 50px;
    background-color:rgb(233, 90, 8);
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 40px;
    margin-top: 20px;
}

.plants-btn a{
    text-decoration: none;
    color: white;
}
/* Flower & Plants Lover */
.flower-lover-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 120px;

}

.flower-image{
    position: relative;
}

.badge{
    position: absolute;
    left: 355px;
    top: -128px;
   
}

.badge{
    width: 286px;
    height: 286px;
}
.flower-lover-title{
    font-size: 3.12rem;
    font-weight: 700;
}

.flower-lover-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Latest  Deals section style */
.deals-section{
    margin-top: 125px;
}

.deals-title{
    font-size: 3.12rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0px;
}

.deals-description{
    font-size: 1.37rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 5px;
}

/* Latest deals plans section */
.bloom {
  background-color: rgba(0,0,0,0.5);
  background-image: url('../assets/deal-bloom.png');
  background-blend-mode: darken;

}

.ana {
  background-color: rgba(0,0,0,0.5);
  background-image: url('../assets/deal-ana.png');
    background-blend-mode: darken;
}

.zabo {
  background-color: rgba(0,0,0,0.5);
  background-image: url('../assets/deal-zabo.png');
    background-blend-mode: darken;
}

.deals-container {
  display: flex;
  gap: 20px;
}

.left-deals {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.deals-banner {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-banner {
  flex: 2;
  height: 420px;
}

  .text {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
  .text-2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.title{
    margin-bottom: 8px;
}

  .title-2{
    margin-bottom: 8px;
    
  }
  
  .text a {
  color: rgb(255, 255, 255);
  padding: 6px 14px;
  font-size: 1rem;
  font-weight: 600;
  
}
 .text-2 a {
  color: rgb(255, 255, 255);
  padding: 6px 14px;
  font-size: 22px;
  font-weight: 600;
}
/* Join the colorful bunch section style */
.join-section {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  margin-top: 120px;
  width: 100%;
  height: 400px;
}
.join-content{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.join-content h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}


.join-form {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.join-form input[type="email"] {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: none;
  width: 644px;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.5);
}

.join-form button {
  padding: 18px 40px;
  border: none;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  width: 186px;

}


/* Footer Section Styles */
.footer-container{
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}

.left-content img{
  width: 135px;
  height: 82px;
}

.footer-description{
   font-size: 1.37rem;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.5);
}

.footer-menu{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.footer-menu li{
  list-style: none;
}

.footer-menu li a{
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}

.right-content{
  display: flex;
  flex-direction: row;
  gap: 24px;


}

.right-content img{
  width: 36px;
  height: 36px;
}




/* responsive layout style */
@media screen and (max-width: 576px) {
     /* nav responsive */
    .mobile-loop{
        display: none;
    }
    .menu-item a{
    font-size: 1rem;
    font-weight: 400;
    }
    .brand{
       width: 63px;
       height: 38px;
    }

    .navigation-container{
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    }

    /* banner responsive */
    .banner-container{
        flex-direction: column-reverse !important;
        
    }
    .banner-info{
        margin-left: 16px;
        margin-right: 17px;
        margin-top: 28px;

    }
    .banner-image img{
       width: 100%;

        
    }

    .banner-title{
      margin-bottom: 0px;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .banner-title-2{
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .banner-description{
     font-size: 0.87rem;
     font-weight: 400;
     color: rgba(0, 0, 0, 0.5);
     margin-top: 11px;
    }
    /* plants responsive*/
    .our-plants-info{
        margin-top: 60px;
    }
    .our-plants-title{
     font-size: 1.5rem;
     font-weight: 700;
     text-align: center;
     margin-bottom: 16px;
    }

    .our-plants-description{
     font-size: 0.87rem;
     font-weight: 400;
     color: rgba(0, 0, 0, 0.5);
     text-align: center;
     margin-top: 0px;
    }
    .plants-card{
      flex: 1;
    }
    
    .plants-card{
     width: 100%;
     text-align: center;
     background-color: rgb(250, 249, 253);
    }

    .plants-card img{
        width: 171px;
    }

    .plants-card-title{
     font-size: 1rem;
     font-weight: 500;
     margin-top: 25px;
     margin-bottom: 10px;
    }

   br{
    display: none;
   }
    .plants-price{
     font-size: 1rem;
     font-weight: 700;
     margin-bottom: 10px;
     margin-top: 10px;
   }

    .plants-btn{
     width: 171px;
     font-size: 1rem;
     font-weight: 600;
     padding: 10px 20px;
     margin-top: 20px;
   }
    .plants-card-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* Flower and Plants Lover */
    .flower-lover-container{
        flex-direction: column;
        gap: 20px;
    }

    .badge{
        display: none;
    }
    .store{
        width: 100%;
    }
    .flower-lover-title{
        font-size: 1.5rem;
        margin-top: 0px;
    }
    .flower-lover-description{
        font-size: 0.87rem;
    }

    /* Latest  Deals section responsive */
    .deals-title{
        font-size: 1.5rem;
    }
    .deals-description{
        font-size: 0.87rem;
    }

    .deals-container{
        flex-direction: column !important;
    }
    .left-deals{
        flex-direction: column ;
        width: 100%;
    }
    .big-banner{
        flex-direction: column;
    }
    .left-deals .small-banner,
    .big-banner {
      height: 200px !important;
      width: 100%;
      flex: unset;
  }
    .title-2{
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
    .title-2-btn{
        font-size: 1rem !important;
        font-weight: 600;
    }
    /* Join the colorful bunch section */
    .join-content h2 {
     font-size: 20px;
    }
    .join-form input[type="email"] {
      padding: 20px 10px;
      width:250px;
    }

    .join-form button {
      padding: 18px 10px;
      width:103px ;
    }

    main .plants-card-container,
    .our-plants-info, 
    .flower-lover-container,
    .deals-section,
    .deals-container{
      margin: 15px;
    }
  }


